img#joey {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 18px;
}

div.databroker {
    margin-top: 10px;
}

a.data-broker-header {
    text-decoration: none;
}

a.data-broker {
    display: inline-block;
    padding: 2px 4px;
    text-align: center;
    text-decoration: inherit;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
}

a.data-broker-search {
    color: #ffffff;
    background-color: #32816e;
}

a.data-broker-opt-out {
    color: #ffffff;
    background-color: #ad4543;
}

.data-broker-opt-out-status {
    font-size: 14px;
    display: inline-block;
    padding: 2px 4px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
}
