{{- define "main" -}}
{{- $fronts := $.Site.Data.databrokerjoins.fronts -}}
{{- $frontMappings := dict -}}
{{- range $site, $frontsForSite := $fronts -}}
    {{- range $frontsForSite -}}
        {{- $frontMappings = merge $frontMappings (dict . $site) -}}
    {{- end -}}
{{- end -}}
{{- $similar := $.Site.Data.databrokerjoins.similar -}}
                <div class="post-metadata">
                    <h1>{{ .Title }}</h1>
                    <p class="post-date">
                        <span class="post-date">Last updated <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date | time.Format "January 2006" }}</time></span>
                    </p>
                </div>
                <div class="post-content">
                    {{ .Content }}
{{- range $k, $v := $.Site.Data.databrokers -}}
{{- range $v -}}
                    <hr>
                    <div class="databroker">
                        <h2 id="{{ $k }}">{{ index .names 0 }} <a href="#{{ $k }}" class="data-broker-header">#</a></h2>
                        <p>
{{- if isset . "status" -}}
    {{- $statusAsOf := time.AsTime .status.asOf -}}
    {{- if eq true .status.working -}}
                        As of {{ time.Format "January 2006" $statusAsOf }} the opt out process is working.
    {{- else if eq false .status.working -}}
                        As of {{ time.Format "January 2006" $statusAsOf }} the opt out process is broken.
        {{- if isset .status "workaround" }}
                        {{ .status.workaround | markdownify }}
        {{- else }}
                        There is no known workaround.
        {{- end -}}
    {{- end -}}
{{- end -}}
                        </p>
                        <p>
{{- if isset $frontMappings $k -}}
    {{- $frontFor := index $frontMappings $k -}}
    {{- $siteData := index $.Site.Data.databrokers $frontFor -}}
                            Front for <a href="#{{ $frontFor }}">{{range $siteData }}{{ index .names 0 }}{{ end }}</a>. For reference, this data broker's main site is <code>{{ .url }}</code>.
{{- else -}}
    {{- if isset . "process" -}}
        {{- if isset . "status" -}}{{ if eq false .status.working -}}<s>{{- end -}}{{- end -}}
        {{- if eq "opt-out-search" .process -}}
                            To opt out, use the <a href="{{ .removalUrl }}" class="data-broker data-broker-opt-out" target="_blank" rel="nofollow noopener noreferrer">Opt out search</a> directly. For reference, this data broker's main site is <code>{{ .url }}</code>.
        {{- else if eq "search-first" .process -}}
                            To opt out, <a href="{{ .url }}" class="data-broker data-broker-search" target="_blank" rel="nofollow noopener noreferrer">Search {{ index .names 0 }}</a> for a result and then <a href="{{ .removalUrl }}" class="data-broker data-broker-opt-out" target="_blank" rel="nofollow noopener noreferrer">Opt out</a>.
        {{- else if eq "control" .process -}}
                            To opt out, <a href="{{ .url }}" class="data-broker data-broker-search" target="_blank" rel="nofollow noopener noreferrer">Search {{ index .names 0 }}</a> and then control or manage the data (if found).
        {{- end -}}
        {{- if isset . "status" -}}{{ if eq false .status.working -}}</s>{{- end -}}{{- end -}}
    {{- end -}}
                        </p>
                        <p>
    {{- range .helpLinks -}}
                            <a href="{{ .url }}" target="_blank" rel="nofollow noopener noreferrer">Get opt-out help from {{ .site }}</a>.
    {{- end -}}
                        </p>
    {{- range .notes -}}
                        <h3>Notes</h3>
                        <p>
                            <h4>{{ time.Format "January 02, 2006" .date }}</h4>
                            {{ .note | markdownify }}
                        </p>
    {{- end -}}
    {{- if isset $fronts $k -}}
        {{- $frontsList := index $fronts $k -}}
                        <h3>Fronts</h3>
                        <ul>
        {{- range $frontsList -}}
            {{- $siteData := index $.Site.Data.databrokers . -}}
                            <li><a href="#{{ . }}">{{ range $siteData }}{{ index .names 0 }}{{ end }}</a></li>
        {{- end -}}
                        </ul>
    {{- end -}}
    {{- range $similar -}}
        {{- if in . $k -}}
            {{- $selfSlice := slice $k -}}
            {{- $similarSites := complement $selfSlice . -}}
                        <h3>Similar sites</h3>
                        <ul>
            {{- range $similarSites -}}
                {{- $siteData := index $.Site.Data.databrokers . -}}
                            <li><a href="#{{ . }}">{{ range $siteData }}{{ index .names 0 }}{{ end }}</a></li>
            {{- end -}}
                        </ul>
        {{- end -}}
    {{- end -}}
                    </div>
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
